* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: greenyellow;
}

.start-screen {
  background-color: rgb(207, 139, 50);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.main-title {
  text-align: center;
}

.instructions {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
  line-height: 2rem;
}

.btn {
  cursor: pointer;
  width: 150px;
  margin: 10px;
  color: #0a0a23;
  font-size: 18px;
  background-color: rgba(224, 167, 140, 0.918);
  height: 2rem;
  border-color: black;
  border-width: 1px;
  border-radius: 40px;
}

.btn:hover {
  background-image: rgb(214, 118, 118);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkpoint-screen {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: wheat;
  border-radius: 20px;
  padding: 10px;
  display: none;
  font-family: 'Courier New', Courier, monospace;
}

#canvas {
  display: none;
}

@media (min-width: 768px) {
  .start-screen {
    width: 60%;
    max-width: 700px;
  }

  .checkpoint-screen {
    max-width: 300px;
  }
}
